.s-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 100px;
    border-radius: 0px 0px 120px 120px;
    height: 800px;
}
.s-home .s-home-text h1{
    font-size: 100px;
}
.s-home-logo{
    height: 350px;
}
@media screen and (max-width:480px){
    .s-home{
        height: 100%;
        flex-direction: column-reverse;
        gap: 0;
        border-radius: 0px 0px 50px 50px;
    }
    .s-home .s-home-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;
        bottom: 70%;
    }
    .s-home .s-home-text h1{

        font-size: 50px;
    }
}