.container {
    width: 850px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-container {
    width: 80%;
    height: 80%;
  }
  
  .movie-card {
    position: relative;
    width: 800px;
    height: 610px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .work-card img {
    width: 800px;
    height: 610px;
    object-fit: cover;
  }
  
  
  
  /* Swiper styles */
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: black;
    font-size: 50px;
    visibility: hidden;
  }
  
  .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #007bff;
  }
  @media screen and (max-width:480px){
    .container{
      width: 400px;
    }
    .work-card img{
      width: 400px;
      height: 800px;
    }
  }