
/* home */
.r-home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: linear-gradient(180deg, white 30%, rgb(255, 204, 0) 90%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 120px 120px;
    height: 100vh;
}
.r-home .r-home-text h1{
    font-size: 100px;
    color: rgb(255, 204, 0);
}
.r-home .r-home-text p{
    font-size: 20px;
    font-weight: bold;
}
.r-home .r-home-text button{
    background-color: rgb(255, 204, 0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: white;
    width: 150px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all .72s ease;
}
.r-home .r-home-text button:hover{
    background-color: white;
    color: rgb(255, 204, 0);
    border: 1px solid rgb(255, 204, 0);
}
/* about club */
.r-a-h{
    text-align: center;
    margin: 75px;
    font-size: 100px;
}
.r-about{
    margin: 50px;
    display: flex;
    height: 500px;
    gap: 30px;
    margin-bottom: 300px;
}
.r-about .r-a-text{
    height: 200px;
    border: 2px solid;
    height: 450px;
    padding: 50px;
    font-size: 20px;
    border-radius: 20px;
    transition: all .42s ease;
}
.r-about .r-a-text:hover{
    transform: scale(1.1);
    margin: 20px;
}
.r-workout{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, white 50%, rgb(255, 204, 0));
    
}
.work{
    text-align: center;
    font-size: 100px;
    margin-top: 200px;
}
.r-workout .text-workout{
    margin-left: 50px;
    padding: 30px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 550px;
}
.r-workout .text-workout h1{
    font-size: 50px;
}
@media screen and (max-width:480px){
    /* home */
    .r-home{
        height: 100%;
        flex-direction: column-reverse;
        gap: 10px;
        border-radius: 0px 0px 50px 50px;
    }
    .r-home .r-home-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;
        bottom: 70%;
    }
    .r-home .r-home-text h1{

        font-size: 50px;
    }
    .r-home .r-home-text p{
        font-size: 15;
    }
    /* about club */
    .r-a-h{
        font-size: 70px;
    }
    .r-about{
        flex-direction: column;
        margin-bottom: 30px;
        
    }
    .r-about .r-a-text{
        height: 800px;
        font-size: 16px;
        padding: 50px;
    }
    .r-about .r-a-text:hover{
        transform: scale(1.1);
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    /* cards */
    .r-offcials{
        margin-top: 1800px;
    }
    /* workout */
    .r-workout{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .r-workout .text-workout{
        height: 750px;  
        text-align: start;
        margin-right: 50px;
        border-radius: 20px;
        padding: 10px;
    }
    .work{
        font-size: 60px;
        margin-bottom: 40px;
    }

}